<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Watchdog</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Watchdog home automation and control">
  <meta name="author" content="Einari Kurvinen">

<!-- bower:css -->
<link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="components/bootstrap-toggle/css/bootstrap-toggle.min.css" />
<link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css" />
<!-- endbower -->

  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
<div class="container">
  {{{body}}}
</div>
</body>
<!-- bower:js -->
<script src="components/jquery/dist/jquery.js"></script>
<script src="components/bootstrap/dist/js/bootstrap.js"></script>
<script src="components/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
<!-- endbower -->
  <script src="js/watchdog.js"></script>


</html>