<h1>Control</h1>
{{#each devices}}
  
  <div class="list-group">
      <a href="#" class="list-group-item action" data-device="{{mac}}" data-status="on">
        <h4 class="list-group-item-heading">{{name}}</h4>
        <p class="list-group-item-text">{{ip}}</p>
      </a>  
  </div>
{{/each}}