  <form method="post" action="/login">
  	<div class="form-group">
        <label for="username">Username</label>
        <input class="form-control input-xlarge" type="text" id="username" name="username" placeholder="Username">
    </div>
  	<div class="form-group">
        <label for="password">Password</label>
        <input class="" type="password" id="password" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default btn-block">Login</button>
  </form>
